.heading {
  font-weight: 600;
  color: var(--color-gray-900);
  line-height: 1.2;
  margin: 0 0 var(--spacing-md);
}

.heading--1 { font-size: 2.25rem; }
.heading--2 { font-size: 1.875rem; }
.heading--3 { font-size: 1.5rem; }
.heading--4 { font-size: 1.25rem; }
.heading--5 { font-size: 1.125rem; }
.heading--6 { font-size: 1rem; }
